<!DOCTYPE html>
<html>
<head>
<style>

body {
  background-color: #FF8C00;
}

h1 {
  color: #FF8C00;
  text-align: center;
}

p {
  color: #FF8C00;
  text-align: center;
}

#content {
  color: pink
  background-color: #191970;
  border-style: dotted;
  border-color: pink;
}

</style>
</head>
</html>
