<!DOCTYPE html>
<html>
<head>
<style>

h1 {
  color: #FFC0CB;
  text-align: center;
}

p {
  color: #FFC0CB;
  text-align: center;
}

#content {
  background-color: #191970;
  border-style: dotted;
  border-color: pink;
}

</style>
</head>
</html>
